body{
    background: #FEF8F2;
    color: white;
    overflow-x: hidden;
}
.inner{
    max-width: 1440px;
    margin: 0 auto;
}
.list {
    display: flex;
}

/* ------header-------------------------------------------- */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-bottom: 10px;
}
header.active{
    background: #ad937da8;
    backdrop-filter: blur(10px);
}
.logo{
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 5px;
}
.main-menu{
    justify-content: center;
    gap: 20px;
}
.main-menu>li{
    position: relative;
}
.main-menu>li>.sub-menu{
    /* display: none; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ad937d;
    margin-top: 10px;
    height: 0;
    overflow: hidden;
}
.sub-menu>li{
    width: 150px;
}
.sub-menu>li:hover a{
    background: #816C5B;
}
.main-menu>li>.sub-menu>li a,
.submenu-wrap>.sub-menu>li a{
    display: block;
    padding: 5px 10px;
}

.main-menu>li>.submenu-wrap{
    position: absolute;
    margin-top: 10px;
    background: #ad937d;
    /* display: none; */
    display: flex;
    gap: 20px;
    height: 0;
    overflow: hidden;
}
.submenu-wrap>.sub-menu>li>strong{
    padding: 5px;
    display: block;
    border-bottom: solid 1px #fff;
}
.gnb-list{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.88em;
    align-items: center;
}
.gnb-list>li{
    padding: 0 10px;
}
.gnb-list>li:first-child{
    border-right: solid 1px #fff;
}
.lang-list{
    display: none;
}


/* ------main-slider-------------------------------------------- */
.main-slider-wrap{
    position: relative;
    height: 45vw;
}
.top-reserve-wrap{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px 50px;
}
.top-reserve-list{
    gap: 30px;
}
.top-reserve-list>li{
    display: flex;
    gap: 40px;
    padding-right: 20px;
    border-right: 1px solid white;
}
.top-reserve-list>li:last-child {
    border: none;
    padding: 0;
}
.top-reserve-list>li>a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-reserve-list>li>div>a{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.top-reserve-list>li:first-child>div>a {
    align-items: start;
}
.top-reserve-list>li>div>a span:first-child {
    font-size: 0.75em;
    font-weight: 600;
}

/* ------main-------------------------------------------- */
section{
    margin-top: 100px;
    position: relative;
}
h2{
    font-size: inherit;
}
.title{
    position: relative;
}
.title div{
    display: flex;
    flex-direction: column;
}
.title span{
    color: #A2A2A2;
    font-size: 2em;
    font-weight: 500;
}
.title strong{
    color: #3B3B3B;
    font-size: 4em;
    font-weight: 700;
}

/* room */
.room-wrap .title div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.room-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.room-list>li{
    position: relative;
}
/* .room-list>li.title:hover::after{
    display: none;
} */
.room-list>li img {
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
}

.room-list>li>a::after {
    content: "";
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.room-list>li:hover>a::after {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.room-list>li>a span{
    position: absolute;
    bottom: 10px;
    right: 30px;
    line-height: 20px;
}
.room-list>li>a span::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/reserve-arrow.png);
    position: absolute;
    bottom: 0;
    right: -25px;
}

/* wellness */
.wellness-list>li{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.wellness-list>li.active {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0);
}
.wellness-list>li>a::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
}
.wellness-list>li.active>a::after{
    background: rgba(0, 0, 0, 0.3);
}
.wellness-list>li:hover>a::after {
    background: rgba(0, 0, 0, 0.6);
}
.wellness-list>li.active:hover>a::after {
    background: rgba(0, 0, 0, 0.3);
}
.wellness-list>li img{
    aspect-ratio: 1/4;
    object-fit: cover;
    width: 90px;
    height: 400px;
}
.wellness-list>li.active img{
    aspect-ratio: unset;
    width: 100%;
}
.wellness-list>li div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.wellness-list>li div::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/reserve-arrow.png);
    position: absolute;
    bottom: -30px;
}
.wellness-list>li.active div::after {
    display: none;
}
.wellness-list>li div .wellness-title {
    font-size: 1em;
    font-weight: 600;
    writing-mode: vertical-rl;
}
.wellness-list>li div .wellness-text {
    display: none;
}
.wellness-list>li.active div .wellness-title{
    font-size: 2em;
    writing-mode: unset;
    margin-bottom: 10px;
}
.wellness-list>li.active div .wellness-text {
    display: block;
}

/* dinner */
.dinner-list-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 60vh;
}
.dinner-list-wrap .text-box,
.dinner-list-wrap .img-box{
    position: relative;
}
.dinner-text-list{
    width: 100%;
    height: 100%;
}
.dinner-text-list>li{
    width: 80%;
    color: #3B3B3B;
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.dinner-text-list>li.active {
    opacity: 1;
}
.dinner-text-list>li h3{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
}
.dinner-text-list>li p {
    font-weight: 600;
}
.dinner-text-list>li .more-btn {
    font-size: 0.88em;
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.dinner-img-list{
    width: 100%;
    height: 70%;
}
.dinner-img-list>li{
    position: absolute;
    opacity: 0;
}
.dinner-img-list>li.active {
    opacity: 1;
}
.dinner-img-list>li img{
    aspect-ratio: 1/0.5;
}
.dinner-img-text-list{
    gap: 5px;
}
.dinner-img-text-list>li {
    color: #A2A2A2;
    width: calc(100% / 3);
}
.dinner-img-text-list>li.active{
    color: #3B3B3B;
}
.dinner-img-text-list>li p{
    padding-bottom: 10px;
    font-size: 0.88em;
}
.dinner-img-text-list>li p::after {
    content: "";
    display: block;
    background: #A2A2A2;
    height: 2px;
}
.dinner-img-text-list>li.active p::after {
    background: #3B3B3B;
}

/* specialoffers */
.special-offer-menu-list-wrap{
    position: relative;
    margin-bottom: 20px;
}
.special-offers-wrap .title{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 3em;
    font-weight: 700;
}
.special-offers-wrap>.special-offer-menu-list-wrap>.img-box {
    height: 300px;
}
.special-offers-wrap>.special-offer-menu-list-wrap>.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.special-offer-menu-list{
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.special-offer-menu-list>li a {
    display: block;
    padding: 8px 10px;
    background: #3f3f3f63;
    border-radius: 20px;
    font-size: 0.88em;
}
.special-offer-menu-list>li:hover a {
    background: #3f3f3fb6;
}
.special-offer-list img{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1.4/1;
}
.special-offer-list .text-box{
    color: #3B3B3B;
}
.special-offer-list-wrap{
    overflow: visible;

    .swiper-button-next svg,
    .swiper-button-prev svg {
        display: none;
    }

    .swiper-button-next::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #3f3f3f63;
        border-radius: 50%;
        background-image: url(../img/icon/arrow-white.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .swiper-button-prev::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-color: #3f3f3f63;
        border-radius: 50%;
        background-image: url(../img/icon/arrow-white.png);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }

    .swiper-button-next,
    .swiper-button-prev,
    ~.swiper-button-next,
    ~.swiper-button-prev {
        top: var(--swiper-navigation-top-offset, 110%);
    }

    .swiper-button-prev{
        left: 50%;
        transform: translateX(-80%);
    }
    .swiper-button-next {
        right: 50%;
        transform: translateX(100%);
    }

}


/* contact */
.contact-wrap{
    margin-top: 150px;
}
.contact-wrap .inner{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.contact-wrap .inner .text-box{
    color: #3B3B3B;
}
.contact-wrap .inner .text-box .title{
    font-size: 2em;
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 2px solid #3B3B3B;
    margin-bottom: 20px;
}
.contact-wrap .inner .text-box p{
    margin-bottom: 20px;
}
.contact-wrap .inner div img{
    object-fit: cover;
}


/* ------footer-------------------------------------------- */
footer{
    margin-top: 100px;
    font-size: 0.88em;
}
.util-menu{
    background: #fbfbfb;
    color: #4e4e4e;
    padding: 10px;
    gap: 10px;
    font-size: 0.88em;
    align-items: center;
}

.util-menu li{
   border-bottom: 1px solid #4e4e4e;
}
.footer-bg{
    position: relative;
    background: url(../img/main/footer-bg.jpg) no-repeat center center;
    height: 400px;
}
.footer-bg>p{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.footer-bg>.footer-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
}
.footer-bg>.footer-right .sns-list {
    gap: 10px;
    align-items: center;
}
.footer-bg>.footer-right .sns-list li{
    width: 60%;
}
.footer-bg>.footer-right .sns-list li img{
    object-fit: cover;
}
.footer-bg>.footer-right .family-site{
    position: relative;
}
.footer-bg>.footer-right .family-site>a{
    border: 1px solid #fff;
    padding: 10px 40px 10px 20px;
    background: url(../img/icon/arrow-white-up.png) no-repeat 90% center;
    display: block;
}
.footer-bg>.footer-right .family-site .family-list{
    position: absolute;
    top: -170px;
    height: 0;
    overflow: hidden;
}
.footer-bg>.footer-right .family-site .family-list li a{
    border: 1px solid #fff;
    border-bottom: none;
    padding: 10px 20px;
    display: block;
    width: 100%;
    background: #fbfbfb2e;
    backdrop-filter: blur(10px);
}

/* -------------aside----------------- */
.reserve-wrap{
    position: fixed;
    bottom: 90px;
    right: 20px;
    text-align: center;
    background: #816C5B;
    padding: 10px 6px;
    border-radius: 45%;
    z-index: 100;
    display: none;
}
.reserve-wrap>a {
    display: flex;
    flex-direction: column;
}
.reserve-wrap .text-box{
    font-size: 0.88em;
}
.top-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ad937d;
    border-radius: 50%;
    padding: 10px;
    z-index: 100;
    display: none;
}

